In [1]:
import numpy as np
import pandas as pd

In [2]:
from source import ElasticResponse,read_query
from generator.search import templatize
from generator.utils import load_spacy_model
nlp = load_spacy_model()

In [10]:
er = ElasticResponse()
sql_query = read_query("backup","policy_complaint","backup_copies")
df = er.get_response(sql_query,{})

In [11]:
df

      Host Name  Days
0  MRS-IS-00021  10.0
1  MRS-IS-00023   3.0
2    RLTIA00007   9.0
3    RLTIA00008  10.0

In [ ]:
"You can view summary information about backups created by backup copy jobs. The summary information provides the Host Name and the aggrregated sum of day.There are total 4 backup servers out of which MRS-IS-00023 is having the least number of total sum, which is 3"

In [13]:
text = nlp("You can view summary information about backups created by backup copy jobs. The summary information provides the Host Name and the aggrregated sum of day.There are total 4 backup servers out of which MRS-IS-00023 is having the least number of total sum, which is 3")
nugget = templatize(text, {"_sort": ["-Days"]} , df)
nugget

{% set fh_args = {"_sort": ["-Days"]}  %}
{% set df = U.gfilter(orgdf, fh_args.copy()) %}
{% set fh_args = U.sanitize_fh_args(fh_args, orgdf) %}
{# Do not edit above this line. #}
You can view summary information about backups created by backup copy jobs. The summary information provides the {{ df.columns[0] }} and the aggrregated sum of {{ G.singular(fh_args['_sort'][0]).lower() }}.There are total 4 backup servers out of which MRS-IS-0002{{ df["Days"].iloc[-1] }} is having the least number of total sum, which is {{ df["Days"].iloc[-1] }}

In [15]:
type(nlp)

spacy.lang.en.English

In [ ]:
nugget.render(df)

In [14]:
df

      Host Name  Days
0  MRS-IS-00021  10.0
1  MRS-IS-00023   3.0
2    RLTIA00007   9.0
3    RLTIA00008  10.0

In [10]:
nugget.variables

{Host Name: {{ df.columns[0] }},
 days: {{ G.plural(fh_args['_sort'][0]).lower() }},
 3: {{ df["Days"].iloc[-1] }}}